body {
    margin: 0 auto; 
    padding-top: 50px; 
    padding-bottom: 50px; 
}

.container {
    max-width: 980px; 
    margin: 0 auto; 
    padding-left: 5%; 
    padding-right: 5%; 
}

.feature{
    margin-top: 40px; 
}

.container h1, h2{
    margin: 0 auto; 
    width: 100%; 
    text-align: center; 
}

img {
    max-width: 100%; 
    border: 1px #757575 solid; 
}

li{
    font-size: 1.3em; 
}






